.photo {
  width: 25%;
  height: 50%;
}

.in-place {
  float: left;
}

.grabbed {
  position: absolute;
  width: 25%;
  height: 50%;
}

.orderable {
  width: 800px;
  height: 600px;
  position: relative;
}
