.photo {
  width: 25%;
  height: 50%;
  float: left;
  background: black;
}

.moved {
  background: green;
}

.grabbed {
  background: red;
  position: absolute;
}

.orderable {
  width: 800px;
  height: 600px;
  position: relative;
}
